<form action="<%= link %>" class="form-floating rounded-2 w-25">
  <input
    type="text"
    id="search"
    name="q"
    class="form-control"
    placeholder="Search"
  />
  <label for="search">
    <i class="bi bi-search"></i>
  </label>
</form>
