<div class="alert alert-primary text-center p-5 rounded-pill shadow">
  <h1 class="fst-italic">Found a nice song?</h1>
  <a href="<%= link %>">
    <button type="button" class="btn btn-primary w-100">ADD IT HERE</button>
  </a>
</div>
