<div class="shadow">
  <iframe
    id="audioPlayer"
    class="w-100"
    src=""
    title="YouTube video player"
    allow="accelerometer; autoplay;
        clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  ></iframe>
  <div class="p-3 rounded">
    <p class="fw-bold mb-0">
      Playing now:
      <span id="title" class="fw-normal ms-2"></span>
    </p>
  </div>
</div>
