<div class="card w-25 shadow-lg text-center zoom">
  <h1 class="card-img-top bg-primary" style="padding: 20%; font-size: 5rem">
    <i class="bi <%= option.icon %> text-light"></i>
  </h1>
  <div class="card-body">
    <p class="card-text fs-4"><%= option.title %></p>
  </div>
  <a href="<%= option.link %>" class="stretched-link"></a>
</div>
