<button
  class="btn btn-primary rounded-circle position-fixed fs-1"
  style="width: 100px; height: 100px; right: 10px; bottom: 10px"
>
  +
  <a href="/playlists/add" class="stretched-link"></a>
</button>
