<form
  action="/playlists/search"
  method="POST"
  class="form-floating rounded-2 w-25"
>
  <input type="text" id="search" class="form-control" placeholder="Search" />
  <label for="search">
    <i class="bi bi-search"></i>
  </label>
</form>
