<%- include("header") %>

<body>
  <%- include("navbar") %>

  <main class="p-4">
    <h1>
      <a href="/playlists" class="text-muted me-2"
        ><i class="bi bi-arrow-left"></i
      ></a>
      Create Playlist
    </h1>

    <table class="table table-hover table-striped" style="width: 60%">
      <thead>
        <tr>
          <th>TITLE</th>
          <th>ARTIST</th>
          <th>DESCRIPTION</th>
        </tr>
      </thead>

      <tbody class="align-text-top">
        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Awake and Alive</td>
          <td>Skillet</td>
          <td></td>
        </tr>

        <tr>
          <td>Hero</td>
          <td>Skillet</td>
          <td>Jen and John sound absolutely amazing together</td>
        </tr>

        <tr>
          <td>Whispers in the Dark</td>
          <td>Skillet</td>
          <td></td>
        </tr>

        <tr>
          <td>Monster</td>
          <td>Skillet</td>
          <td></td>
        </tr>

        <tr>
          <td>Ignite</td>
          <td>Skillet</td>
          <td>Those guitar riffs are insane</td>
        </tr>

        <tr>
          <td>Standing in the Storm</td>
          <td>Skillet</td>
          <td></td>
        </tr>

        <!-- Additional rows for scrolling -->
        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>

        <tr>
          <td>Rise</td>
          <td>Skillet</td>
          <td>One of the greatest songs on the album Rise</td>
        </tr>
      </tbody>
    </table>
  </main>

  <aside
    class="position-fixed p-3 shadow-lg"
    style="top: 25%; left: 65%; width: 30%; height: 60%"
  >
    <div class="mb-3">
      <label for="title" class="form-label fw-bold">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        aria-describedby="Title"
      />
    </div>

    <div class="mb-3">
      <label for="img" class="form-label fw-bold">Image Cover</label>
      <input
        type="file"
        class="form-control"
        id="img"
        aria-describedby="Image Cover"
      />
    </div>

    <div class="mb-3">
      <label for="tracks" class="form-label fw-bold">Choose Tracks</label>
      <textarea
        class="form-control"
        id="tracks"
        aria-describedby="Choose Tracks"
      ></textarea>
    </div>
    <button class="btn btn-outline-primary btn-lg w-100">Add Playlist</button>
  </aside>

  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="Track form"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Track</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="url" class="form-label fw-bold">URL</label>
            <input
              type="text"
              class="form-control"
              id="url"
              aria-describedby="URL"
              value="https://www.youtube.com/watch?v=lF8s2bZUwlM"
            />
          </div>

          <div class="mb-3">
            <label for="title" class="form-label fw-bold">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="Title"
              value="Ignite"
            />
          </div>

          <div class="mb-3">
            <label for="artist" class="form-label fw-bold">Artist</label>
            <input
              type="text"
              class="form-control"
              id="artist"
              aria-describedby="Artist"
              value="Skillet"
            />
          </div>

          <div class="mb-3">
            <label for="description" class="form-label fw-bold"
              >Description</label
            >
            <textarea
              type="text"
              class="form-control"
              id="description"
              aria-describedby="Description"
            >
Those guitar riffs are insane
                </textarea
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="Track form"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Track</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove this song from the list?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Delete</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <%- include("footer") %>
</body>
