<%- include("./components/header") %>

<body class="vh-100">
  <%- include("./components/navbar") %>
  <main class="d-flex justify-content-around align-items-center h-75">
    <div class="card w-25 shadow-lg text-center zoom">
      <h1 class="card-img-top bg-primary" style="padding: 20%; font-size: 5rem">
        <i class="bi bi-music-note text-light"></i>
      </h1>
      <div class="card-body">
        <p class="card-text fs-4">
          Add, edit or listen to your favorite tracks
        </p>
      </div>
      <a href="/tracks" class="stretched-link"></a>
    </div>

    <div class="card w-25 shadow-lg text-center zoom">
      <h1 class="card-img-top bg-primary" style="padding: 20%; font-size: 5rem">
        <i class="bi bi-music-note-list text-light"></i>
      </h1>
      <div class="card-body">
        <p class="card-text fs-4">
          Create and manage playlists from your favorite tracks
        </p>
      </div>

      <a href="/playlists" class="stretched-link"></a>
    </div>
  </main>
</body>

<%- include("./components/footer") %>
