<body class="vh-100">
  <header
    class="d-flex justify-content-between align-items-baseline p-4 bg-light shadow"
  >
    <a href="/" class="text-black">
      <i class="bi bi-house-door-fill fs-2"></i>
    </a>
    <h1>App Title</h1>
    <i class="bi bi-moon-fill fs-2 btn"></i>
  </header>

  <main class="d-flex justify-content-around align-items-center h-75">
    <div class="card w-25 shadow-lg text-center zoom">
      <h1 class="card-img-top bg-primary" style="padding: 20%; font-size: 5rem">
        <i class="bi bi-music-note text-light"></i>
      </h1>
      <div class="card-body">
        <p class="card-text fs-4">
          Add, edit or listen to your favorite tracks
        </p>
      </div>
      <a href="/tracks" class="stretched-link"></a>
    </div>

    <div class="card w-25 shadow-lg text-center zoom">
      <h1 class="card-img-top bg-primary" style="padding: 20%; font-size: 5rem">
        <i class="bi bi-music-note-list text-light"></i>
      </h1>
      <div class="card-body">
        <p class="card-text fs-4">
          Create and manage playlists from your favorite tracks
        </p>
      </div>

      <a href="/playlists" class="stretched-link"></a>
    </div>
  </main>
</body>
